extends layout

block content
	
	div(class = "row")
		div(class = "col-sm")
			h1 Registration
	
	div(class = "row")
		div(class = "col-sm")
			form(method="POST",action="/register/user")
				table(class='table table-hover')
					tr
						td Name
						td 
							input(type='text' name='name' class='form-control' required)
					tr
						td Email
						td 
							input(type="email" name="email" id="email" class="form-control" placeholder="Enter valid email")
					tr
						td Password
						td
							input(type="password" name="password" id="password" class="form-control" placeholder="***********")
					tr 
						td Contact Details
                        td
                            input(type='text' name='contact' id='contact' class='form-control' placeholder='9444994449')
                    tr  
                        td Address
                        td 
                            input(type='text' name='address' id='address' class='form-control' placeholder='4 Privet Drive, Little Whinging, London')
					tr
						td
						td 
							button(type="submit" class="btn btn-primary")
								span(class="glyphicon glyphicon-plus") Submit